CompileFlags:
  Add: 
    - -std=gnu++23
    - -stdlib=libc++
    - -fmodules
    - -fimplicit-modules
    - -fimplicit-module-maps
    - -fcxx-modules
    - -fprebuilt-module-path=build/CMakeFiles/__cmake_cxx23.dir
    - -fprebuilt-module-path=build/CMakeFiles/glm.dir
    - -fprebuilt-module-path=build/CMakeFiles/Miezi.dir
    - -DMZ_OS_LINUX
    - -I/home/david/Dokumente/Miezi/src
    - -I/home/david/Dokumente/Miezi/build/gladsources/glad_gl_core_46/include